
@{
    ViewBag.Title = "MainMenu";
}

<h2>MainMenu</h2>
<p>
    @Html.ActionLink("Chess(Web Socket)", "GameSessionWebSocket");
    <br><br>
    @Html.ActionLink("Chess(SignalR)", "GameSessionSignalR");
</p>

