.tooltip {
    position: fixed !important;
    padding: 10px 20px !important;
    border: 1px solid #b3c9ce !important;
    border-radius: 4px !important;
    text-align: center !important;
    font: italic 14px/1.3 sans-serif !important;
    color: #333 !important;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3) !important;
    z-index: 9999 !important;
    opacity: 1 !important;
}
